/*  your css code here. If applicable */
#yellow{
	background:yellow;
	border:1px solid green;
}
#green{
	background:green;
	border:1px solid yellow;
}
#red{
	background:red;
	border:1px solid black;
}